<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Register</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="{% static '/user/css/style1.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/user/css/reset.css' %}"/>
</head>
<body>

<div id="particles-js">
		<div class="login" style="height: 470px">
			<div class="login-top">
				注册
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="{% static '/user/img/name.png' %}"/></div>
				<div class="login-center-input">
					<input type="text" name="username" value="" placeholder="请输入您的用户名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的用户名'"/>
					<div class="login-center-input-text">用户名</div>
				</div>
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="{% static '/user/img/password.png' %}"/></div>
				<div class="login-center-input">
					<input type="password" name="password" value="" placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'"/>
					<div class="login-center-input-text">密码</div>
				</div>
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="{% static '/user/img/email.png' %}"/></div>
				<div class="login-center-input">
					<input type="email" name="email" value="" placeholder="请输入您的邮箱" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的邮箱'"/>
					<div class="login-center-input-text">邮箱</div>
				</div>
			</div>
			{% if Safe_Code != '' %}
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="{% static '/user/img/password.png' %}"/></div>
				<div class="login-center-input">
					<input type="text" name="safecode" value="" placeholder="请输入安全秘钥" onfocus="this.placeholder=''" onblur="this.placeholder='请输入安全秘钥'"/>
					<div class="login-center-input-text">秘钥</div>
				</div>
			</div>
			{% endif %}
            <div class="register-button" style="float:left;margin-left: 30px">
                注册
            </div>
            <div class="login-button" style="float:right;margin-right: 30px">
                返回
            </div>
		</div>
		<div class="sk-rotating-plane"></div>
</div>

<!-- scripts -->
<script src="{% static '/user/js/particles.min.js' %}"></script>
<script src="{% static '/user/js/app.js' %}"></script>
<script src="{% static '/user/js/jquery.js' %}"></script>
<script type="text/javascript">
	function hasClass(elem, cls) {
	  cls = cls || '';
	  if (cls.replace(/\s/g, '').length == 0) return false; //当cls没有参数时，返回false
	  return new RegExp(' ' + cls + ' ').test(' ' + elem.className + ' ');
	}
	 
	function addClass(ele, cls) {
	  if (!hasClass(ele, cls)) {
	    ele.className = ele.className == '' ? cls : ele.className + ' ' + cls;
	  }
	}
	 
	function removeClass(ele, cls) {
	  if (hasClass(ele, cls)) {
	    var newClass = ' ' + ele.className.replace(/[\t\r\n]/g, '') + ' ';
	    while (newClass.indexOf(' ' + cls + ' ') >= 0) {
	      newClass = newClass.replace(' ' + cls + ' ', ' ');
	    }
	    ele.className = newClass.replace(/^\s+|\s+$/g, '');
	  }
	}
    document.querySelector(".register-button").onclick = function(){
        var username=$('input[name="username"]').val();
        var password=$('input[name="password"]').val();
        var safecode=$('input[name="safecode"]').val();
		var email=$('input[name="email"]').val();
        if (username !== '' && password !== '' && safecode !== '' && email!== ''){
            addClass(document.querySelector(".login"), "active")
            setTimeout(function(){
                addClass(document.querySelector(".sk-rotating-plane"), "active")
                document.querySelector(".login").style.display = "none"
            },1000)
            setTimeout(function(){
                removeClass(document.querySelector(".login"), "active")
                removeClass(document.querySelector(".sk-rotating-plane"), "active")
                document.querySelector(".login").style.display = "block"
                $.ajax({
                    type: "POST",
                    url: "/user/register/",
                    data: {username,password,safecode,email},
                    success: function(msg){
                        if (msg === 'True'){
                            $(location).prop('href', '/user/');
                        }else{
							alert(msg);
						}
                    }
                });
                
            },2000)
        }
    }
    document.querySelector(".login-button").onclick = function(){
        $(location).prop('href', '/user/login/');
    }
</script>
</body>
</html>